@import "var.scss";
@import "loginPanel.scss";
@import "header.scss";
@import "footer.scss";

*{
    padding: 0px;
    margin:0px;
}

body{
    // width: 100%;
    // height: 100%;
    // background-color: red;
}

.wrapper{
    display: block;

    .contentArea{
        // display: none;
        margin-bottom: 2px;
        height: 100%;
        background: linear-gradient( $backgroundColor1, $backgroundColor2);
        width: 100%;
        color: $FontColor1;
        @import "aside.scss";
        @import "content.scss";
    }
}
