$primaryBGColor : #fff;

$primaryFontFamily : 'Tahoma';
$FontColor1: #fff;
$FontColor2:#000;

$primaryFontSize: 20px;
$secondaryFontSize: 18px;
$thirdFontSize: 16px;

// $backgroundColor1:#fff;
$backgroundColor1:#129271;
// $backgroundColor2:#000;
$backgroundColor2:#E066FF;
$transparentBGColor: rgba(0,0,0,0.35);

*{
    padding: 0px;
    margin:0px;
}
body{
    // width: 100%;
    // height: 100%;
    // background-color: red;
}

.loginPanel{
    display: none;
    background: linear-gradient(#129271, #E066FF);
    opacity: 1;
    .frBanner{
        font-size: 30px;
        text-align: center;
        padding:60px 30px 5px;
        margin-bottom:5px;
        color: $FontColor1;
        .userLogin{
            margin: auto;
            .panel{
                font-size: 18px;
                text-align: center;
                padding:5% 10px;
                width: 350px;
                background-color: #fff;
                border-radius: 11px;
                form{
                    text-align:center;
                    padding: 5px;
                    font-family: $primaryFontFamily;
                    label{
                        width: 30%;
                        color: #000;
                    }
                    inout[type=text]{
                        width:70%;
                    }
                    input[type=button]{
                        width: 80%;
                        background-color:#129271;
                        color: $FontColor1;
                        padding: 10px;
                        margin: 10px auto;
                        &:active{
                            background-color: #fff;

                        }
                    }
                }
            }

        }
    }
}

.wrapper{
    display: block;
    header{
        padding-top: 15px;
        font-family: $primaryFontFamily;
        // background-color: #053428;
        margin-bottom: 2px;
        // color: $FontColor1;
        color: $FontColor2;
        // height: 50px;
        .banner{
            font-size: 20px;
            // padding: 0px 20px;
        }
        .rightArea{
            background-color: #fff;
            .notify{
                display: inline-block;
                margin-right: 20px;

                ul{
                    li{
                        display: inline-block;
                        .badge{
                            width: 13px;
                            height: 13px;
                            background-color: red;
                            position: absolute;
                            top: 10px;
                            border-radius: 8px;
                            z-index: 999;
                            padding: 4px;
                            font-size: 15px;
                            text-align: center;
                        }
                        .md-fab{
                            background-color: #fff;
                            border: 1px solid #053428;
                            font-size: 18px;
                            width: 40px;
                            height: 40px;
                            color: #053428;
                            line-height: 40px;
                            &:hover{
                                background-color: #053428;
                                border: 1px solid #fff;
                                color: #fff;
                            }
                        }
                        a{

                        }
                    }
                }
                // float: right;
            }
            .userArea{
                display: inline-block;
                // width: 30%;
                // float: right;
            }
        }

    }

    .contentArea{
        // display: none;
        margin-bottom: 2px;
        height: 100%;
        background: linear-gradient( $backgroundColor1, $backgroundColor2);
        width: 100%;
        color: $FontColor1;
        aside{
            background-color: $transparentBGColor;
            display: inline-block;
            // padding: 10px;
            .profileArea{
                text-align: center;
                color: #fff;
                // background-color: #fff;
                opacity: 0.8;
                border-radius: 10px;
                padding: 10px;
                // margin-bottom: 10px;
                .profilePic{
                    border-radius: 50%;
                    width: 80%;
                    border: 5px solid #807284;
                }
                .profileName{
                    color:$FontColor1;
                    width: 100%;

                }
                a{
                    text-decoration: none;
                    display: block;
                    border-radius:5px;
                    color:$FontColor1;
                    margin: 7px auto;
                    text-align: center;
                    width: 90%;
                    padding: 5px;
                    border: 1px solid $FontColor1;
                    &:hover{
                        color: $FontColor1;
                        background-color: #2c1433;
                    }
                }
            }
            .taskArea{
                text-align: center;
                // background-color: $transparentBGColor;
                opacity: 0.8;
                border-radius: 10px;
                padding: 10px;
                a{
                    text-decoration: none;
                    display: block;
                    border-radius:5px;
                    color:$FontColor1;
                    margin: 7px auto;
                    text-align: center;
                    // width: 100%;
                    padding: 5px;
                    border: 1px solid $FontColor1;
                    &:hover{
                        color: $FontColor1;
                        background-color: #2c1433;
                    }
                }
            }
        }
        section{
            padding: 11px;
            display: inline-block;

            .empdashboard{
                text-align: center;
                background-color: $transparentBGColor;
                border-radius: 5px;
                padding: 10px;
                margin-bottom: 10px;
            }
            .hrdashboard{


                text-align: center;
                background-color: $transparentBGColor;
                border-radius: 5px;
                padding: 10px;
                margin-bottom: 10px;


                .menudemoBasicUsage .md-menu-demo {
                    padding: 24px; }
                .menudemoBasicUsage .menu-demo-container {
                    min-height: 200px; }
            }

        }
    }

    footer{
        // display: none;
        // border: 2px solid red;
        color: $FontColor1;
        .footerLinks{

        }
        .copyright{
            background-color: #000;
            padding: 5px;
            text-align: center;
        }
    }


}
