.loginPanel {
  display: none;
  background: linear-gradient(#129271, #E066FF);
  opacity: 1; }
  .loginPanel .frBanner {
    font-size: 30px;
    text-align: center;
    padding: 60px 30px 5px;
    margin-bottom: 5px;
    color: #fff; }
    .loginPanel .frBanner .userLogin {
      margin: auto; }
      .loginPanel .frBanner .userLogin .panel {
        font-size: 18px;
        text-align: center;
        padding: 5% 10px;
        width: 350px;
        background-color: #fff;
        border-radius: 11px; }
        .loginPanel .frBanner .userLogin .panel form {
          text-align: center;
          padding: 5px;
          font-family: "Roboto"; }
          .loginPanel .frBanner .userLogin .panel form label {
            width: 30%;
            color: #000; }
          .loginPanel .frBanner .userLogin .panel form inout[type=text] {
            width: 70%; }
          .loginPanel .frBanner .userLogin .panel form input[type=button] {
            width: 80%;
            background-color: #129271;
            color: #fff;
            padding: 10px;
            margin: 10px auto; }
            .loginPanel .frBanner .userLogin .panel form input[type=button]:active {
              background-color: #fff; }

header {
  padding-top: 15px;
  font-family: "Roboto";
  margin-bottom: 2px;
  color: #000; }
  header .banner {
    font-size: 50px;
    color: #129271;
    font-family: "Roboto"; }
  header .rightArea {
    background-color: #fff; }
    header .rightArea .notify {
      display: inline-block;
      margin-right: 20px; }
      header .rightArea .notify ul li {
        display: inline-block; }
        header .rightArea .notify ul li .badge {
          width: 13px;
          height: 13px;
          background-color: red;
          position: absolute;
          top: 10px;
          border-radius: 8px;
          z-index: 999;
          padding: 4px;
          font-size: 15px;
          text-align: center; }
        header .rightArea .notify ul li .md-fab {
          background-color: #fff;
          border: 1px solid #053428;
          font-size: 18px;
          width: 40px;
          height: 40px;
          color: #053428;
          line-height: 40px; }
          header .rightArea .notify ul li .md-fab:hover {
            background-color: #053428;
            border: 1px solid #fff;
            color: #fff; }
    header .rightArea .userArea {
      display: inline-block; }

footer {
  color: #fff; }
  footer .copyright {
    background-color: #000;
    padding: 5px;
    text-align: center; }

* {
  padding: 0px;
  margin: 0px; }

.wrapper {
  display: block; }
  .wrapper .contentArea {
    margin-bottom: 2px;
    height: 100%;
    background: linear-gradient(#129271, #E066FF);
    width: 100%;
    color: #fff; }
    .wrapper .contentArea aside {
      background-color: rgba(0, 0, 0, 0.35);
      display: inline-block; }
      .wrapper .contentArea aside .profileArea {
        text-align: center;
        color: #fff;
        opacity: 0.8;
        border-radius: 10px;
        padding: 10px; }
        .wrapper .contentArea aside .profileArea .profilePic {
          border-radius: 50%;
          width: 80%;
          border: 5px solid #807284; }
        .wrapper .contentArea aside .profileArea .profileName {
          color: #fff;
          width: 100%; }
        .wrapper .contentArea aside .profileArea a {
          text-decoration: none;
          display: block;
          border-radius: 5px;
          color: #fff;
          margin: 7px auto;
          text-align: center;
          width: 90%;
          padding: 5px;
          border: 1px solid #fff; }
          .wrapper .contentArea aside .profileArea a:hover {
            color: #fff;
            background-color: #2c1433; }
      .wrapper .contentArea aside .taskArea {
        text-align: center;
        opacity: 0.8;
        border-radius: 10px;
        padding: 10px; }
        .wrapper .contentArea aside .taskArea a {
          text-decoration: none;
          display: block;
          border-radius: 5px;
          color: #fff;
          margin: 7px auto;
          text-align: center;
          padding: 5px;
          border: 1px solid #fff; }
          .wrapper .contentArea aside .taskArea a:hover {
            color: #fff;
            background-color: #2c1433; }
    .wrapper .contentArea section {
      padding: 11px;
      display: inline-block; }
      .wrapper .contentArea section .empdashboard {
        text-align: center;
        background-color: rgba(0, 0, 0, 0.35);
        border-radius: 5px;
        padding: 10px;
        margin-bottom: 10px; }
      .wrapper .contentArea section .hrdashboard {
        text-align: center;
        background-color: rgba(0, 0, 0, 0.35);
        border-radius: 5px;
        padding: 10px;
        margin-bottom: 10px; }
        .wrapper .contentArea section .hrdashboard .menudemoBasicUsage .md-menu-demo {
          padding: 24px; }
        .wrapper .contentArea section .hrdashboard .menudemoBasicUsage .menu-demo-container {
          min-height: 200px; }
