$primaryBGColor : #fff;

$primaryFontFamily : 'Roboto';
$secondryFontFamily: 'Verdana';

$FontColor1: #fff;
$FontColor2:#000;

$primaryFontSize: 20px;
$secondaryFontSize: 18px;
$thirdFontSize: 16px;

// $backgroundColor1:#fff;
$backgroundColor1:#129271;
// $backgroundColor2:#000;
$backgroundColor2:#E066FF;
$transparentBGColor: rgba(0,0,0,0.35);
