
<div layout="column" layout-align="end center" flex="30" class="frBanner">Emami Frank Ross: Login Portal</div>
<div flex="flex" layout="column" layout-align="start center" class="userLogin">
  <div class="panel">Please Login.
    <form layout="column" action="" method="post" class="login">
      <label for="username">Email:</label>
      <input type="text" name="username" value="" placeholder="Enter your email here."/><br/>
      <label for="password">Password:</label>
      <input type="text" name="password" value="" placeholder="Enter your password here."/><br/>
      <input type="button" name="login" value="Login" placeholder="Login"/>
    </form>
  </div>
</div>