.banner(layout, flex='50', layout-align="start center")
    img(src="images/logo1.png", alt="Frank Ross Logo")
    p FRANK ROSS
.rightArea(layout, flex, layout-align="end center")
    .notify
        ul
            li
                span.badge 5
                md-button.md-fab(aria-label='mail')
                    i(class='fa fa-envelope', aria-hidden='true')
            li
                span.badge 4
                md-button.md-fab(aria-label='notification')
                    i(class='fa fa-bell-o', aria-hidden='true')
            li
                span.badge 7
                md-button.md-fab(aria-label='tasks')
                    i(class='fa fa-tasks', aria-hidden='true')
